<?xml version="1.0"?>
<model>
  <name>Fisheye Camera</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Junwoo Park</name>
    <email>junwoo.park@nearthlab.com</email>
  </author>

  <description>
    A fisheye camera model for Gazebo simulation.
  </description>
</model>