<launch>
  <!-- Launch Gazebo with the willowgarage world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/willowgarage.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
  </include>

  <!-- Spawn the fisheye camera -->
  <node name="spawn_camera" pkg="gazebo_ros" type="spawn_model"
        args="-sdf -file $(find gazebo_fisheye_sim)/models/fisheye_camera/model.sdf -model fisheye_camera"
        output="screen"/>

  <!-- Spawn the checkerboard -->
  <node name="spawn_checkerboard" pkg="gazebo_ros" type="spawn_model"
        args="-sdf -file $(find gazebo_fisheye_sim)/models/checkerboard/model.sdf -model checkerboard"
        output="screen"/>

  <!-- Run the Python script to automate image capture -->
  <node name="checkerboard_image_capture" pkg="gazebo_fisheye_sim" type="capture_checkerboard_images.py" output="screen">
    <param name="num_images" value="20"/>
    <param name="output_dir" value="$(find gazebo_fisheye_sim)/resources/images"/>
  </node>
</launch>